* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .form {
    display: none;
    width: 100%;
  }
  
  .form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form button {
    width: 100%;
    padding: 10px;
    background-color: #007aac;
    color: rgb(247, 249, 250);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #f2f6f8;
  }
  
  .form p {
    text-align: center;
    margin-top: 10px;
  }
  
  .form a {
    color: #007aac;
    text-decoration: none;
  }
  
  .form a:hover {
    text-decoration: underline;
  }
  
  #signup-form {
    display: block;
  }
  